<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
  <add name="SQL_dbGeography" 
	   connectionString="Data Source=WINDOWS10\SQLEXPRESS;Initial Catalog=Geography;Integrated Security=True" />
  <add name="wpu221_lesson3__LINQ.Properties.Settings.GeographyConnectionString"
       connectionString="Data Source=WINDOWS10\SQLEXPRESS;Initial Catalog=Geography;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>